name: Automatisation des tests DevSecOps
on: push
jobs:
  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Scan des dépendances avec Trivy (requirements.txt)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -v $HOME/.cache/trivy:/root/.cache/ \
            aquasec/trivy:latest fs \
              --security-checks vuln \
              --severity HIGH,CRITICAL \
              --exit-code 1 \
              /workspace
            
  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Récupérer le code
        uses: actions/checkout@v4

      - name: Scan du Dockerfile avec Trivy
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/workspace \
            -v $HOME/.cache/trivy:/root/.cache/ \
            aquasec/trivy:latest config \
              --severity HIGH,CRITICAL \
              --exit-code 1 \
              /workspace
  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application est prête à être déployée"
